.grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	width: auto;
	margin: 0 3rem;
}
.column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}
