.root {
	max-width: 90%;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	margin-bottom: 5rem;
}

.left,
.right {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.search {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 1rem;
	border-radius: 12px;
	border: 1px solid #bdbdbd;
}

.searchBtn {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.searchBtn svg {
	--size: 2rem;
	width: var(--size);
	height: var(--size);
	fill: #bdbdbd;
}

.imageQueryInput {
	border: none;
	outline: none;
	padding: 0.5rem 2rem;
}

.imageQueryInput:focus {
	outline: none;
}

.buttonInner {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 768px) {
	.root {
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.left {
		flex-direction: column;
		gap: 1rem;
	}
}
