.title {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.closeBtn,
.signUpBtn {
	background: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
